.homeSection {
    border: 1px solid black;
    padding: 0.3rem;
}

.plan_item {
    border-bottom: 1px solid black;
}

.plan_itemLabel {
    float: left;
    min-width: 6rem;
    font-weight: bold;
}

.gridContainer {
    display: flex;
    justify-content: space-between;
}

.gridBlock {
    flex-grow: 1;
}
