#app {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.forecast {
  display: grid;
  grid-template-columns: 15% auto 15%;
  row-gap: 0.5rem;
}

.forecast span {
  align-self: center;
}

.forecast :nth-child(3n + 1) {
  font-size: 0.8rem;
}

.forecast :nth-child(3n) {
  justify-self: right;
}

.current {
  width: 35%;
}

.current_date {
  font: 2rem bold;
  padding: 0;
  margin: 0;
}
.current_time {
  font: 4rem bold;
  padding: 0;
  margin: 0;
}

.currentWeather {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.currentWeather img {
  vertical-align: middle;
}
