.currentWidget {
    text-align: left;
    padding: 1rem;
}

.currentWidget_time {
    font-size: 2.5rem;
}

.currentWidget_temperature {
    font-size: 2rem;
}

.currentWidget_temperatureForecast {
    font-size: 1rem;
    display: inline;
    vertical-align: super;
}
